.header {
    /* Background */
    background: url(../../assets/stars2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: transparent;
    /* Container */
    display: grid;
    align-content:flex-start;
    gap: 14px;
    place-items: center;
    position: relative;
    width: 100%;
    height: 70vh;
    border-bottom: 5px solid var(--color-third);
}

@media (max-width: 770px) {
    .header {
        height: 70vh;
    }
}

.header aside {
    width: 50%;
    display: flex;
}

.header  {
    z-index: 2;
    display: relative;
}

.header svg {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 25%;
}

@media (max-width: 430px) {
    .header svg {
        height: 20vh;
        bottom: 15vh;
    }
}

/* Image setup */

.header__figure {
    display: grid;
    place-items: center;
}

.header__figure-image {
    width: 150px;
    height: 150px;
    border: 5px solid var(--color-third);
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.header__figure-figcaption {
    margin: 6px;
    color: var(--color-primary);
}

.header__figure-figcaption {
    color: var(--color-white);
}


/* List items from the contact header */ 

.header__contact {
    display: flex;
    margin-top: 40px;
    gap: 12px;
}

.header__contact .ri {
    display: flex;
    color: var(--color-white);
    font-size: 40px;
}

/* Animation setting of the title */
.header__title {
    letter-spacing: 6px;
    font-size: 54px;
    color: var(--color-white);
}

.header__title {
    position: absolute;
    bottom: 10%;
    margin: 0 auto;

    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 28ch;

    animation: typing 2s steps(28), blink 0.7s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width : 0 }
}

@keyframes nlink {
    50% { border-color : var(--color-white) }
}

@media (max-width: 770px) {
    .header__title {
        font-size: 30px;
        width: 16ch;
        animation: typing 1s steps(16)
    }
}