/* Setup of the divider */
.styled-form-text__divider {
	background-color: #D8D2D2;
	height: 1px;
	margin: 0 auto;
	width: 100%;
}

/* Setup of the container */
.styled-form-container {
	background-color: #FBFAFA;
	display: grid;
	margin: 0 auto;
	max-width: 737px;
	padding: 25px;
	place-content: center;
	place-items: center;
}

/* Setup of the text  */
.styled-form-text-container {
	display: grid;
	padding-top: 56px;
	place-content: center;
	place-items: center;
	text-align: center;
}
.styled-form-text__title {
	margin-bottom: 20px;
}
.styled-form-text__subtitle {
	margin-bottom: 10px;
	margin-top: 20px;
}

/* Setup of the form */
.styled-form__form {
  width: 100%;
}

.styled-form__form form textarea {
	height: 189px;
}

.styled-form__form form .hs-form-checkbox-display input[type="checkbox"] {
	accent-color: #8B0409;
}

.styled-form__form form .hs-form-checkbox-display span {
	color: #0E3057;
	font-size: 14px;
	font-weight: bold;
}
