/* animation settings */
/* container and grid section-menu-containers */

.section-menu-container {
    margin: 20px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 150px);
    grid-gap: 12px;
    grid-auto-flow: row;
}

.section-menu-container article {
    position: relative;
}

.section-menu-container article div p {
    color: var(--color-white);
}
.section-menu-container article div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 25%;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 178, 0, 0.7), rgba(39, 123, 192, 0.7));
}

.section-menu-container__one {
    background: url('../../assets/code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.section-menu-container__two {
    background: url('../../assets/artificial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
}

.section-menu-container__three {
    background: url('../../assets/key-screen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 4 / 5;
}

.section-menu-container__four {
    background: url('../../assets/laptop-g.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 5 / 6;
    grid-row: 1 / 4;
}

.section-menu-container__five {
    background: url('../../assets/laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.section-menu-container__six {
    background: url('../../assets/tech-ball.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 1 / 4;
}

.section-menu-container__seven {
    background: url('../../assets/key-screen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-column: 4 / 6;
}


.section-menu-container:hover .flip-vertical {
	animation: slit-in-vertical 0.45s both;
}

@keyframes slit-in-vertical {
    0% {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
    54% {
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100% {
        transform: translateZ(0) rotateY(0);
    }
}